:root {
    /* color*/
    --linear:   linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue:  #1A9AF7;
    --soft-blue: #E7F5FF;
    --black: #201E1C;
    --warm-black: #282623;
    --grey: #BABABA;
    --off-white:#FAF8F7;
    --just-white: #FFF;
}
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
html {
    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;
}
a {
    text-decoration:none;
    border: none;
}
li {
    list-style: none;
}
header {
    width: 100%;
    min-width: 320px;
    
    height: 334px;
    display: flex;
    flex-direction:column;
    align-items: center;
    background: var(--linear);
    position:relative
}
.nav {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-width: 288px;
    max-width:700px;
    height:218px;
    margin:20px auto 0;
    text-align: center;
}
.nav__logo {
    width:300px;
    height:24px;
    margin: 40px 0 0;
    align-self: center;
}
.nav__title {
    font-size: 2.4rem;
    font-weight:700;
    line-height:2.8rem;
    margin: 30px 0 30px;
    color: var(--just-white);
}
.nav__p {
    font-size:1.4rem;
    line-height:1.8rem;
    font-weight:500;
    color: var(--soft-orange)
}
.nav-buttom {
    width:220px ;
    height:48px;
    border-radius:4px;
    position: absolute;
    display: block;
    bottom: -19px;
    padding: 16.5px 15px;
    background-color: #fff;
    color: var(--warm-black);
    text-align: center;
    font-size: 1.4rem;
    line-height:1rem;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 5px 8px rgba(89 73 30/ 17%);
}   
.nav-buttom__dow {
    width:12px;
    height:7px;
    display: inline-block;
    margin: 0 0 0 10px;
    background: url('/assets/icons/arrow-dow.svg') no-repeat center;
    background-size: contain;
}
.main {
    width: 100%;
    height: auto;
    min-width: 320px;
    background: var(--off-white);
    padding: 40px 0 25px;
}
.first {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
.first__Img {
    display: inline-block;
    width: 195px;
    height: 195px;
    background: url('/assets/imgs/Bitcoin.svg') no-repeat center;
    background-size: contain;
}
.first__contain-title {
    width:90%;
    height:190px ;
    margin: 0 auto;
    text-align: center;
}
.first__title {
    margin: 18px 0 0;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var('--warm-black');
}
.first__p {
    margin: 20px 0 0 ;
    font-size: 1.4rem;
    line-height:1.8rem;
    font-weight:500;
    color:#757575 ;
}
.list {
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px;
    
}
.list__title {
    font-size:1.8rem;
    font-weight: bold;
    line-height: 2.4;
    color: var(--bitcoin-orange);
    text-align:center;
}
.list--comisiones {
    color: var(--secondary-blue);
}
.list__ul {
    width: 200px;
    display: grid;
    grid-template-rows: repeat(4,50px);
    grid-template-columns: 50% 50%;
    grid-column: center;
    grid-row: center;
    gap: 2px;
}
.list__li , .list__li-2 {
    padding: 0 0 0 15px;
    font-family: 'Inter';
    font-size: 1.6rem;
    font-weight: 500;
    line-height:1.9rem;
    color: #B5B0AC;
    background-color: var(--just-white);
    display: flex;
    align-items: center;
}
.list__li-2 {
    justify-content: center;
    font-size:1.4rem;
    font-weight:400;
    line-height: 1.7;
    color:#757575
}
.list__contain {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 0 0 45px
}
.list--l1, .list--l2, .list--l3, .list--l4 {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 5px;
    background: url('/assets/icons/trending-down.svg') no-repeat center;
    background-size: contain;
}
.list--l2 {
    background-image: url('/assets/icons/trending-up.svg');
}
.radius-top-left {
    border-radius: 15px 0 0 0 ;
}
.radius-top-right {
    border-radius: 0 15px 0 0 ;
}
.radius-bottom-left {
        border-radius: 0 0 0 15px ;
}
.radius-bottom-right {
    border-radius: 0 0 15px 0;
    
}
.list__footer {
    margin: 10px 0 0;
    width: 185px ;
    height:37px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    background-color: var(--soft-orange);
}
.list--md-footer-blue {
    background-color: var(--soft-blue);
}
.list__footer-p {
    font-family: 'Inter';
    font-size: 1.2rem ;
    font-weight: 500;
    color: var(--warm-black);
}
.second {
    width: 100%;
    min-width: 320px;
    background-color: var(--warm-black);
    position: relative;
}
.second__container {
    width: 90%;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second__logo {
    width: 40px;
    height: 24px;
    display: inline-block;
    position:relative;
    top: -12px;
    background: url('/assets/imgs/patata.svg') no-repeat center;
    background-size: contain;
}
.second__container-title {
    min-width: 288px;
    max-width: 900px;
}
.second__title {
    margin: 30px 0 0;
    font-size: 2.4rem;
    font-weight: bold;
    line-height:2.6rem;
    text-align: center;
    color: var(--just-white);
}
.second__p {
    margin: 18px 0 0;
    text-align: center;
    font-size:1.4rem ;
    font-weight:500;
    line-height: 1.8rem;
    color: #808080;
}
.second-section {
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    margin: 20px 0 65px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap:25px;
}
.second-section__article {
    width: 90%;
    min-width: 288px;
    max-width: 330px;
    height:152px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba( 0 0 0 / 16%);
    padding: 15px;
}
.second-section__icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.second--icon-one {
    background-image: url('/assets/icons/clock.svg');
}
.second--icon-two {
    background-image: url('/assets/icons/eye.svg');
}
.second--icon-three {
    background-image: url('/assets/icons/dollar.svg');
}
.second--icon-four {
    background-image: url('/assets/icons/check-circle.svg');
}
.second-section__p2 {
    margin:10px 0 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height:1.8rem;
    color: #808080;
}
.second-section__p1 {
    margin: 10px 0 0;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.third {
    width: 100%;
    min-width: 320px;
    height: 388px;
    background: url(/assets/imgs/bitcoin-rend.jpg) no-repeat center;
    background-size: cover;
}
.third__container {
    display: flex;
    justify-content: center;
}
.third__h2 {
    margin: 78px 0 0;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.6rem;
    color: var(--just-white);
}

.fourth {
    width: 100%;
    min-width: 320px;
    margin: 33px 0 0;
}
.fourth__container {
    display: flex;
    flex-direction:column;
    align-items: center;
}
.fourth__container-title {
    width:90%;
    min-width: 288px;
    max-width: 700px
}
.fourth__title {
    margin: 30px 0 0;
    text-align: center;
    font-size: 2.4rem;
    font-weight:bold;
    line-height:2.6rem;
    letter-spacing: -.1px;
    color: var(--warm-black);
}
.fourth__p-title {
    margin: 18px 0 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight:500;
    line-height:1.8rem;
    color: #757575;
}
.fourth-m {
    width: 100%;
    min-width: 320px;
    height: 316px;
    margin: 40px auto 0;
    padding:0 20px;
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.fourth-m::-webkit-scrollbar {
    height: 3px;
}
.fourth-m::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);

    border-radius:1px;
}
.fourth-m__article {
    width: 70%;
    min-width:200px;
    max-width: 250px;
    height: 247px;
    scroll-snap-align: center;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(89 73 30 / 16%);
    background-color: var(--just-white);
}
.fourth-m__container {
    width: 85%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.fourth-m__head {
    width: 101px ;
    height:31px;
    position: absolute;
    top: -15.5px;
    padding: 8px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5rem;
    border-radius: 8px;
    background: var(--bitcoin-orange);
    color: var(--just-white);
}
.fourth--md-blue {
    background-color: var(--secondary-blue);
}
.fourth--md-purple {
    background-color: var(--warm-black);
}
.fourth-m__p-1 {
    margin:33px 0 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}
.fourth-m__group {
    margin: 10px 0 0;
    width:77px;
    height: 56px;
    display: flex;
    justify-content: start;
}
.fourth-m__number {
    font-family: 'Inter', sans-serif;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
    letter-spacing: -.5rem;
    color: var(--black);
}
.fourth-m__dollar {
    font-size: 1.2rem;
    font-weight:500;
    line-height: 1.5rem;
    margin: 10px 4px 0 0;   
}
.fourth-m__p {
    margin: 15px 0 0;
    font-family: 'Inter', sans-serif;
    font-size:1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #757575;
    text-align: center;
}
.fourth-m__buttom {
    width: 151px;
    height: 48px;
    margin: 15px 0 0;
    padding: 16px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: var(--bitcoin-orange) solid 2px;
    background-color: var(--off-white);
    color: var(--warm-black);
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    text-align: center;
}
.fourth_m__buttom-only {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url('/assets/icons/flecha.svg') no-repeat center;
    background-size: contain;
}

footer {
    
    bottom: 0;
    width: 100%;
    min-width: 320px;
    height: 150px;
    display: flex;
    font-size:1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
}
.footer-s {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-s__container {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.footer-s__container a {
    color: var(--just-white);
}
.footer-s__container a:hover {
    color: #d7d3d0;
}
.footer-s__logo {
    display: inline-block;
    width: 40px;
    height: 24px;
    background: url(/assets/imgs/logo.svg) ;
    
}
.footer-s__container-logo {
    width: 64 ;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-s__p {
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    color: var(--soft-orange);
}





